.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 25px;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
