.sign-up-comp {
  min-width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    min-width: 375px;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
  }

  @media screen and (max-width: 800px) {
    .btn {
      display: flex;
      flex-direction: column;
    }
  }
}
