.sign-up {
  // width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    width: 350px;
  }

  .title {
    font-size: 25px;
    font-weight: bold;
  }

  @media screen and (max-width: 800px) {
    .btn {
      display: flex;
      flex-direction: column;
    }
  }
}
